:root.theme-dark {
	--cover-image: url(../images/cover-image-dark.png);
	--content-text-color: #f1b2ce;
	--elements-color: #ff0070;
	--corners-color: #ff0070;
	--header__theme-menu-color: #ff0070;
	--titles-color: #db00ff;
	--section-titles-color: #ff0070;
}

.theme-dark .header__decorative-element {
	display: flex;
}