.page {
	background-image: var(--cover-image-dark);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.header {
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	height: 100vh;
	min-height: 668px;
	padding: 10px;
}

.header__decorative-element {
	position: absolute;
	top: 0;
	right: 10px;
	padding-right: 20px;
	padding-top: 20px;
}

.header__decorative-element::after {
	content: "";
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #fff;
}

.decorative-corners-top-right {
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	top: 0;
	right: 0;
}

.decorative-corners-bottom-left {
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	bottom: 0;
	left: 0;
}

.header__description {
	justify-self: center;
	align-self: center;
}

.footer {
	display: grid;
	grid-template-rows: 1fr;
	height: 100vh;
	min-height: 668px;
	padding: 10px;
}

.accent-of-state__decor {
	justify-self: center;
	align-self: center;
}